*:focus{
	outline: none;
}
html, body{
	background: WhiteSmoke;
	margin: 0;
	padding: 0;
	border: none;
}
form{
	border: 1px solid;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	margin-top: 15px;
	background: White;
	border-radius: 25px;
	padding: 10px;
}
form h2{
	margin: 5px;
	text-align: center;
	font-weight: 100;
	font-family: 'Roboto', Sans-serif;
}
form p{
	margin: 3px;
	text-align: center;
	font-family: Segoe UI, Sans-serif, Arial;
}
form table{
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	font: 16px Segoe UI, Sans-serif, Arial;
}
form table input[type=text], form table input[type=password], form table input[type=email], form table input[type=number]{
	width: 100%;
	padding: 3px;
	padding-left: 4px;
	font: 17px Segoe UI, Sans-serif, Arial;
	border: 1px solid;
}
form a{
	color: Gray;
	text-decoration: none;
	transition: 500ms all;
}
form a:hover{ color: Blue; }
form input[type=submit]{
	width: 90%;
	height: 30px;
	background: Gold;
	border-radius: 35px;
	border: 1px solid Gold;
	font-size: 100%;
	cursor: pointer;
	transition: 400ms all;
}
form input[type=submit]:hover{
	border-color: Green;
	background: Green;
	color: White;
}